/*
Theme Name: Agricole Child
Theme URI: http://cmsmasters.net/agricole-child/
Author: cmsmasters
Author URI: http://cmsmasters.net/
Description: Agricole Child Theme
Template: agricole
Version: 1.0.0
License:
License URI:
Text Domain: agricole-child
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*/